/*selector universal*/
*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: lightseagreen;
}

.container-nosotros{
    background-image: url(Imagenes/1533921980121.jpg);
    background-color: rgba(0, 0, 255, 0.459);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: white;
    text-align: center;
}

.nosotros{
    padding: 8rem; 
}

.final{
    background-color: rgb(2, 82, 114);
    color: white;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}